-
    const config = {
        title : "Jobs",
        style : "/css/index.css",
        h2DescriptonButton: 'Agrega nuevos empleados a la empresa',
        route: '/home',
        form: {
                name:'Nombre',
                email:'example.@mail.com',
                age: 00
            },
    }      
include ./templates/head.pug
block header
    include ./templates/header.pug 
    
block main
    main.main__container 
        h2.main__title Trabajadores Actuales
        include ./templates/addForm.pug
            block addForm
                include ./templates/formEmployee.pug
        section.main__sectionCards
            each value in data
                include ./templates/card.pug

block footer
    include ./templates/footer.pug
script(src="/js/formAdd.js")