div.main__containerButtom__formInactive#addForm
    p.main__descriptionButton= `${config.h2DescriptonButton}`
    button.buttonAgregarForm#buttonAddForm +
    template#templateAddForm
        div.container__form#containerForm
            block append addForm
