div(class="confirm" id="confirm")
    div.confirm__card
        h2.confirm__title ¿Seguro que desea eliminar?
        div.container__confirm_button
            a(href=`/delete/${value.id}` class="dButton__yes") SI
            button(id="dButton__no" class="dButton__no") NO