block header 
    header.contain-nav 
        nav 
            ul 
                li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium aliquam ratione odio corrupti quisquam quos necessitatibus reiciendis sequi minima consequatur molestiae officia, fuga nulla nisi nostrum explicabo impedit ipsam neque?