block header
    header.header__container 
        h2.header__title= `${config.title}`
        nav.header__nav
            ul.headerNav__ul
                li 
                    a(href="/home") Home
                li Git
                li Conntact
        
                