section.main__sectionCards__work
    h2.main__title Trabajos Realizados
    div.container__descriptionWork
        span.iconWork
        h3.card__titleWork Descripcion
        p hola a todos
        p hola a todos
        p hola a todos
        p hola a todos
        button.buttonWork Trabajar 